language: c
compiler:
  - gcc
  - clang

addons:
  apt:
    packages:
      - bc
      - gcc-multilib
      - libssl-dev
      - llvm-dev

#before_install: sudo -i ; chmod u+s /usr/bin/sudo ; chown root:root /usr/bin/sudo ; chmod 4755 /usr/bin/sudo ; sudo ./.travis/prepare.sh

before_script: #export PATH=$PATH:$HOME/bin
  #- mkdir build
  #- cd build
  #- cmake ..

sudo: true

env:
  - OPTS="--disable-ssl"
  - TESTSUITE=1 KERNEL=3.18.1
  - TESTSUITE=1 OPTS="--enable-shared"
  - BUILD_ENV="-m32" OPTS="--disable-ssl"
  - KERNEL=3.17.7 DPDK=1
  - KERNEL=3.17.7 DPDK=1 OPTS="--enable-shared"
  - KERNEL=4.3.5
  - KERNEL=4.1.17
  - KERNEL=3.18.26
  - KERNEL=3.14.60
  - KERNEL=3.12.53
  - KERNEL=3.10.96
  - KERNEL=3.4.110
  - KERNEL=3.2.76
  - KERNEL=2.6.32.70

script: chmod 777 create_rootfs.sh ; ./create_rootfs.sh powerpc
#make Makefile.am

notifications:
  email:
    recipients:
      - build@openvswitch.org
